<!doctype html>
<html lang="en">
<html prefix="og: http://ogp.me/ns#">
<head>
  <title>{% block page_title %}FANTASY ALBUM HOUSE{% endblock %}</title>
  <meta name="description" content="{% block page_description %}We invite a musician into the house to make their fantasy album{% endblock %}">
  <meta name="keywords" content="Fantasy Album House, Zack Kouns, Morgan Garrett, Scream Culture, Bruce Springsteen">
  <meta property="og:title" content="FANTASY ALBUM HOUSE" />
  <meta property="og:url" content="https://www.rickjweaver.com/fantasy.html">
  <meta property="og:image" content="https://www.rickjweaver.com/assets/img/fantasy%20album%20house.png">
  <meta property="og:description" content="We invite a musician into the house to make their fantasy album" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@rickjweaver1" />
  <meta name="twitter:title" content="FANTASY ALBUM HOUSE" />
  <meta name="twitter:description" content="We invite a musician into the house to make their fantasy album" />
  <meta name="twitter:image" content="https://www.rickjweaver.com/assets/img/fantasy%20album%20house.png" />
  <meta name="twitter:image:alt" content="welcome to the house" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="assets/img/fantasy album house.png" type="image/png" sizes="16x16" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Khula|Tangerine|Cinzel" rel="stylesheet">
</head>
<body class="bg" id="fantasy">
  {% include "_partials/fantasy.njk" %}

  {% block content %}{% endblock %}

  <footer class="footer" id="fantasy">
  <div class="container"> 
    <div class="row mb-0">

      <div class="col-12 mb-0" id="legal">
        <small>&copy; <span class="copyright-year"></span>
        Rick Weaver
        {# <a href="mailto:rickjweaver@gmail.com"><img src="assets/img/email.png" width="28px"/></a> #}
        <a href="https://rickweaver.bandcamp.com" target="_blank"><img src="assets/img/bandcamp.png" width="28px"/></a> 
        <a href="https://soundcloud.com/humanconduct" target="_blank"><img src="assets/img/soundcloud.png" width="28px"/></a> 
        <a href="https://vimeo.com/user12053191" target="_blank"><img src="assets/img/vimeo.png" width="28px"/></a> 
        <a href="https://www.youtube.com/channel/UC4t8EdzK7YuMZEMvc1RM1Hg" target="_blank"><img src="assets/img/youtube.png" width="28px"/></a>
        etc.
      </div>
    </div>  
  </div>
</footer>

  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/nav.js"></script>

</body>
</html>
