<!doctype html>
<html lang="en">
<html prefix="og: http://ogp.me/ns#">
<head>
  <title>{% block page_title %}Rick Weaver{% endblock %}</title>
  <meta name="description" content="{% block page_description %}Music, video, text{% endblock %}">
  <meta name="keywords" content="Rick Weaver, Dinner Music, Ranch Radio, H&S Ranch, San Antonio, Form A Log, New Flesh, Early Juniata, Human Host, Organ Donors, Human Conduct, Inner Fare">
  <meta property="og:title" content="Rick Weaver" />
  <meta property="og:site_name" content="Rick Weaver" />
  <meta property="og:url" content="https://www.rickjweaver.com" />
  <meta property="og:image" content="https://www.rickjweaver.com/assets/img/BlueIcon.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@rickjweaver1" />
  <meta name="twitter:title" content="Rick Weaver" />
  <meta name="twitter:description" content="Music, video, text" />
  <meta name="twitter:image" content="https://www.rickjweaver.com/assets/img/BlueIcon.jpg" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="assets/img/BlueIcon.png" type="image/png" sizes="16x16" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Khula|Tangerine|Cinzel" rel="stylesheet">
</head>
<body class="bg" id="video">

  {% include "_partials/video.njk" %}

  {% block content %}{% endblock %}

  <footer class="footer" id="video">
  <div class="container"> 
    <div class="row mb-0">

      <div class="col-12 mb-0" id="legal">
        <small>&copy; <span class="copyright-year"></span>
        Rick Weaver
        {# <a href="mailto:rickjweaver@gmail.com"><img src="assets/img/email.png" width="28px"/></a> #}
        <a href="https://rickweaver.bandcamp.com" target="_blank"><img src="assets/img/bandcamp.png" width="28px"/></a>
        <a href="https://soundcloud.com/humanconduct" target="_blank"><img src="assets/img/soundcloud.png" width="28px"/></a> 
        <a href="https://vimeo.com/user12053191" target="_blank"><img src="assets/img/vimeo.png" width="28px"/></a> 
        <a href="https://www.youtube.com/channel/UC4t8EdzK7YuMZEMvc1RM1Hg" target="_blank"><img src="assets/img/youtube.png" width="28px"/></a>
        etc.
      </div>
    </div>  
  </div>
</footer>

  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/nav.js"></script>

</body>
</html>
