{% extends '_layouts/base.njk' %}

{% block page_title %}Alley Vision{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 605px;" src="https://bandcamp.com/EmbeddedPlayer/album=1243067905/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/alley-vision">Alley Vision by Alley Vision</a></iframe>
    </div>
    <div class="col">
      <p>permanent alley vision... no drinks spilled. Ren Schofield and Rick Weaver 2011 </p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}