{% extends '_layouts/base.njk' %}

{% block page_title %}Kouns & Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=2309392106/size=large/bgcol=333333/linkcol=fe7eaf/transparent=true/" seamless><a href="http://kounsandweaver.bandcamp.com/album/banana-ham">Banana Ham by Kouns &amp; Weaver</a></iframe>
    </div>
    <div class="col">
      <p>Looking for that perfect gift? Look no further. It's here in Kouns & Weaver's Holiday Gift Guide.</p>
      <p>Not sold? You will be after you listen to the latest "bunch" of jingles for Banana Ham, courtesy of AX & BLADE inc </p>
      <p>© Sonic Youth Boys Publishing Records 2014</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}