{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=3453535546/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://decoherence.bandcamp.com/album/the-two-benjis">The Two Benji&#39;s by Form A Log</a></iframe>
    </div>
    <div class="col">
      <p><a href="https://throwingbenjis.tumblr.com" target="_blank">throwingbenjis.tumblr.com</a></p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}



