{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=2596695701/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://alteredtapedstates.bandcamp.com/album/bird-time">Bird Time by Form A Log</a></iframe>
    </div>
    <div class="col">
      <p>"This one comes courtesy of the Ren mentioned above in the Cube blurb, who you may know better from his madcap techno project, Container. Form A Log sees him in trio formation with similarly entrenched US DIY / experimental mainstays, Noah Anthony (Profligate) and Rick Weaver. Following a slew of excellently baffling LP’s and tapes over the last eight or so years, welcome the Log as they float to Australian shores. Even by Ren’s own admission, Bird Time is ‘demented’. These days this statement doesn’t usually mean much, but being well-versed in their previous output I wasn’t sure what insanity to expect from these recordings. Via densely piled tape loops, the three succeed in outdoing themselves in freakdom. Another triumph for the human race."</p> 
      <br>-Altered States Tapes

    </div>
  </div>

{# end container #}
</div>


{% endblock %}