{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log - Bird Time [Refulgent Sepulchre]{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 350px; height: 721px;" src="https://bandcamp.com/EmbeddedPlayer/album=3926892567/size=large/bgcol=ffffff/linkcol=f171a2/package=3963457835/transparent=true/" seamless><a href="https://refulgentsepulchre.bandcamp.com/album/bird-time">Bird Time by Form A Log</a></iframe>
    </div>

    </div>
{# end container #}
</div>
{% endblock %}
