{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 572px;" src="https://bandcamp.com/EmbeddedPlayer/album=3874230611/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://morerecords.bandcamp.com/album/black-medicine-ost">black medicine OST by RICK WEAVER</a></iframe>
    </div>
    <div class="col">
      <p>"If there ever was a vaudeville of noise, Weaver is it. Through a variety of guises and collaborative projects (see Form a Log, Dinner Music, the Ruined Frame, or New Flesh for starters), Rick Weaver has been at the epicenter of some of the most eccentric and oddball sounds in the experimental scene. From lo-fi junkyard symphonies and free jazz-leaning psychoses to freewheeling acoustic balladry, Weaver has more than dabbled in a number of disconnected and disjointed sounds. Now returning under his own name and on seminal left-field electronic label More Records, Weaver has created an original soundtrack entitled Black Medicine to accompany his own film of the same name (due out in 2014). Sections... evoke stream of consciousness ramblings, acid-induced segues of rambling tribalism, Casio cold wave, and haunted free noise." -Bobby Power </p>
      <p><a href="https://sorrymompodcast.blogspot.com/2013/05/interview-with-four-hands-rick-weaver.html" target="_blank">Interview, Brigid Ochshorn (Sorry, Mom Podcast)</a></p>
    </div>
  </div>
<div class="row">
  <div class="col">
  <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/85279088?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p>Shed of Fools<br />
<br />
starring <br />
<br />
Jonah <br />
Ezekiel<br />
Blue Boy</p>
</div>
</div>

{# end container #}
</div>
{% endblock %}

