{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
  <div class="col">
    <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=3066756906/size=large/bgcol=ffffff/linkcol=de270f/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/blood-quantum-2">Blood Quantum by Rick Weaver</a></iframe>
  </div>
    <div class="col">
      <p>excerpt from the LILA MARIA VEVE sequence</p>
      <p>I</p> 
      <p>Hard Law banished me to the Range, where I was unable to see through the gunsmoke. He thought it'd be good for me to steer off of the Cherokee Mile, away from people, for a breath or two.</p>
        
      <p>Sure, I'd been acting up again. Seeing as I was a White Ghost and all, I had no culture worth spit. That's the reason I reached for the landline and dialed up Lila to ask her what she could bring to the surface. She said, "As many things as you'd like, long as the price is right." So I forked over a savory sum of cash and she more than willingly slipped me some cards.</p>
      
      <p>I laid them cards on the table, did a little dance, a little conjuring, and lo and behold, my pad was filled to the brim with ghastly spirits of all cuts, mostly formless, every single one of them nightmarish, repulsive, an unshaven. What a zoo!</p>
      
      <p>"Thanks a lot, Lila," I muttered, "what the heck am I supposed to do with all these grotesqueries?"</p>
      
      <p>I tried my best to be a kind host, fed 'em all, kept 'em cozy, but my apartment had become a bughouse.</p>
      
      <p>I cracked the door n' let 'em get some air. The incorporeal pests hit the streets and terrorized the humans for a bit. Most of the city's bumbling population relied on stupendously moronic systems of thought philosophies (e.g. atheism, science) to get them through the day, so, believe me, all those deranged immortals running amok confused the pitiful citizens. Didn't help that the local brewery controlling the taps decided to stir Psychosis into the water supply.</p> 
      
      <p>I shut the door and let out a sigh. That was that. 'Cept one spirit was hiding behind the door.</p> 
      
      <p>I grabbed my bat - "Goddammit! Get out of here flea" - & started braining him - "Why you're the ugliest one of all. Some sickly human must have dreamt you up and scribbled you into a nasty little Holy Book somewhere. There seems to be no end to their debauched imaginations manifesting media monsters such as yourself. They're perfumed and well-groomed, but none of their hygienic tricks can mask the rot at their core. Their intimacy is cruelty. Their communion is fraudulent. Their architecture is oppressive. Bah. Fuck it, I'm getting drunk, you want some?"</p>
      
      <p>The bloodied specter greedily accepted my offering and took a pull from the bottle. I laid off beating his head with a bat for sec, cause the fella didn't seem half bad.</p>
      
      <p>We passed the bottle back n' forth, soon reaching the stage of drunkenness where impulse ignites ideas. "What a spoiled muddle those human bastards are. Let's wipe 'em out." Bunch of gods caught wind of our scheming and joined our conspiracy. We decided it'd look sharp if we all donned suits and smoked an awful lot while we plotted.</p> 
      
    <p>"Let's end these underground whispers and ambitious blueprinting. It's time for action!"</p>
      
    <p>We took out as many of the two-legged trash as time permitted.</p> 
    <P>II</P>
      <p>
        I woke up fully dressed sprawled on the hardwood floor a mutt licking my face guns etc. with a harsh headache. Bacon and eggs wouldn't shake this one off. The pounding at the door didn't help either.</p>
      <p>Who could it be?</p>
      
      <p>Oh. Hard Law, upset about last night's whimsical slaughter. I was tagged. "C'mon, buddy, let's go." He personally drove me to the Range and demanded I stay put and keep a hair's length away from all them goofy humans for awhile. Come back when things had cooled down to a boil. Fine by me. Those stinkers aggravated my ulcer. Besides, I always thought I looked neat in a cowboy hat.</p>
      
      <p>Things were calm for a day or two, but then some war broke loose and the bums cramped up the whole continent, the Range included, with their bickering and hollering and whooping and shooting and carryin' on.</p> 
      
      <p>And now I can't see though the gunsmoke, and can't hear my thoughts over their hollering.</p>
      
      <p>I feel something claw at my eyes, but when I jerk to restrain it, I find nothing. So it keeps clawing, and I keep searching for the culprit. Once the mythology of violence is invited in, it's hard to evict.</p> 
    </div>
  </div>
{# end container #}
</div>
{% endblock %}