{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 770px;" src="https://bandcamp.com/EmbeddedPlayer/album=1881972644/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://haord.bandcamp.com/album/blue-sky">Blue Sky by Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p>The first return to Mint City since Tomb of Comb: young siblings Pasha and Pariah set out on their first rodeo where they come upon Roy the Crusader. He is dying</p> 
      <P>Originally released on Haord Records</P> 
      <p>Mastered by Seth Manchester</p>  
    </div>
  </div>

{# end container #}
</div>
{% endblock %}