{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=3890035830/size=large/bgcol=ffffff/linkcol=de270f/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/breath-pulse">Breath &amp; Pulse by Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p>Self-recorded jamz (sic), young tracks played often on Fall tour plus some keyed up ones that I've had around in my skull. Some fat organ tracks and melodramatic guitar songs plus an a capella tune, and an instrumental. Also, introduction to soon to be popular dance move Spiked Punch and revives the older, yet lesser known dance step called Slow Crawl Junk. Sort of a follow-up to 7,000 Corners but more amped and clogged up/punches. Nick Skrobisz helped with the mastering gut job. Released November 2008</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}