{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 671px;" src="https://bandcamp.com/EmbeddedPlayer/album=2573850675/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://formalog.bandcamp.com/album/air-circus">Air Circus by Form a Log</a></iframe>
    </div>
    <div class="col">
      <p>Form A Log - Air Circus released on I Just Live Here.  Ren Schofield, Noah Anthony, Rick Weaver play tapes. Features Dollies, Air Circus, The Drapes, One Chance to Cut Your Pillow, and Courtesy Clowns. 2010</p>
    </div>
</div>
{# end container #}
</div>
{% endblock %}