{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=3131510718/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/sister-city">Sister City by Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p>Rick Weaver plays Sister City. Thanks Jonny Wray. June 2009</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}