{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 572px;" src="https://bandcamp.com/EmbeddedPlayer/album=1714617596/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/clam-date">Clam Date by Rick Weaver</a></iframe>
    </div>

  <div class="col">
      Rick Weaver plays Clam Date. December 2010
  </div>
{# end container #}
</div>
{% endblock %}