{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=1898541648/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/tomb-of-comb">Tomb of Comb by Rick Weaver</a></iframe>
    </div>

  <div class="col">
      Rick Weaver plays Tomb of Comb, a Western caper set in Mint City starring Roy the Crusader, Miss Meeker, The Mesa Squabblers, The Coffin Maker, Chief Lazy, Pamplinas, and The Trespasser. Originally released by Bathetic Records. November 2011
  </div>
{# end container #}
</div>
{% endblock %}



