{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=3222915177/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/the-ruined-frame-the-7000-corners">The Ruined Frame &amp; the 7,000 Corners by Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p>Rick Weaver plays The Ruined Frame and the 7,000 Corners. Human Conduct Records. Released 2006</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}