{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 350px; height: 687px;" src="https://bandcamp.com/EmbeddedPlayer/album=3334092409/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/kissing-cousins">Kissing Cousins by Rick Weaver</a></iframe>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}