{% extends '_layouts/base.njk' %}

{% block page_title %}Global Distance{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3616102493/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/lovers-cove">Lover&#39;s Cove by Global Distance</a></iframe>
    </div>
    <div class="col">
      <p>Global Distance present their Realm Play called Lover's Cove released on Realm Play Media</p>
      <p>Rick and Rick as Nectar and Sap aka the Cove Bros. </p> 
      <P>August 08 2012</P> 
    </div>
  </div>

{# end container #}
</div>
{% endblock %}
