{% extends '_layouts/base.njk' %}

{% block page_title %}Cube / Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 572px;" src="https://bandcamp.com/EmbeddedPlayer/album=2641272616/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/cube-rick-weaver">Cube / Rick Weaver by Cube / Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p>'NOSTALGIA AND SHAME 
          <bR>DESIRE AND FEAR 
          <br>SPEAK YOUR SELECTION 
          <Br>INTO THE MIRROR' 
          <br>-Cubicle</p>
          
          <p>'we're 
          <br>going to peek into Marlene & 
          <br>thwack the remains 
          <br>politely solicit 
          <br>the smoker's sterile ashes for 
          <br>authorization to access 
          <Br>old souls' 
          <br>-Dinner Music" </p>
      <p>Cubicle / Dinner Music split cassette (aka Cube and Rick Weaver) on Human Conduct Records. notes on original hard copy dub: 32 minutes chrome bias real time dub cardstock J card with two inserts limited to 30 copies. December 2011</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}