{% extends '_layouts/base.njk' %}

{% block page_title %}Periodic Scarf Volume II v/a [Defective Bat Records]{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2260450512/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/track=2562600288/transparent=true/" seamless><a href="https://defectivebat.bandcamp.com/album/def-bat-100-periodic-scarf-volume-ii">Def Bat 100: Periodic Scarf Volume II by Defective Bat Records</a></iframe>
    </div>
{# end container #}
</div>
{% endblock %}
