{% extends '_layouts/base.njk' %}

{% block page_title %}Early Juniata{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=395286088/size=large/bgcol=333333/linkcol=e99708/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/early-juniata">Early Juniata by Early Juniata</a></iframe>
    </div>
    <div class="col">
      <p>Alex Hampshire - Vocals, Keys, Sax</p> 
      <P>Jeff Zagers - Guitar, Keys, Sax</P> 
      <p>Evan Lipson - Bass</p> 
      <p>Rick Weaver - Vocals, Drums</p> 
          
      <p>John Delzoppo - Engineer</p>

    </div>
  </div>
{# end container #}
</div>
{% endblock %}