{% extends '_layouts/fantasy.njk' %}

{% block page_title %}FANTASY ALBUM HOUSE{% endblock %}


{% block content %}

<article class="container">

  <div class="row">
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="zackkouns.html">
        <img class="card-img-top" src="assets/img/fantasy album house.png" class="img-fluid" alt="Zack Kouns">
        <div class="overlay">
        <div class="text">
        Zack Kouns 
        (FANTASY ALBUM HOUSE #1)
        </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </a>

{# end row #}
  </div>
  
{# end container #}
  </div>

</article>
{% endblock %}