{% extends '_layouts/base.njk' %}

{% block page_title %}Kouns & Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=1903605667/size=large/bgcol=ffffff/linkcol=2ebd35/transparent=true/" seamless><a href="http://kounsandweaver.bandcamp.com/album/far-as-the-curse-is-found">Far as the Curse is Found by Kouns &amp; Weaver</a></iframe>
    </div>
    <div class="col">
      <p>Enjoy the gift of merriment this holiday season. It may be cold outside, but it's nice and warm in here. Hear the good news sung through the angelic and uplifting voices of contemporary vocalists Zack Kouns and Rick Weaver. Joy to the World! </p> 
      <P>Also, as a "Christmas bonus," if you contact us with your name and number after downloading these 18 holiday hits, we will call you and sing you a carol or two into your voicemail or into your ear.)</P> 
      <p>released December 25, 2014 </p> 
      <p>A 'Team Capra' Production </p> 
          
      <p>© M&C Records 2014</p>

    </div>
  </div>
{# end container #}
</div>
{% endblock %}

farasthecursenewcover
