{% extends '_layouts/base.njk' %}

{% block page_title %}Jeff Zagers & Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 350px; height: 522px;" src="https://bandcamp.com/EmbeddedPlayer/album=2987001266/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/dirty-doubler">Dirty Doubler by Inner Fare</a></iframe>
    </div>

  <div class="col">
    Inner Fare (Jeff Zagers, Rick Weaver) compilation titled Dirty Doubler released on Human Conduct -- The first side is an excerpt of our seemingly endless drums-on-tape composition entitled 'Dirty Doubler.' Also bearing the name of Dirty Doubler is a sound installation, a Family Visions movie, an object (or two), and a festival in St. Louis. The second side is an introduction to the Inner Fare code of conduct. Musical moments captured between our initial 'meeting of the minds' in Mt. Airy, Maryland, May 2009 up until a Florida excursion laced with pure luck in February 2011. original press c92 was limited to 30 copies - cameos by Alex Hampshire Ben Kelley Noah Anthony Kylie Lance. January 2012
  </div>
{# end container #}
</div>
{% endblock %}