{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLeoYRzSTcbQGRfCMhL0WUlOCqyGzi69wN" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gXnMLX1r0zk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}
