{% extends '_layouts/base.njk' %}

{% block page_title %}Early Juniata{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 671px;" src="https://bandcamp.com/EmbeddedPlayer/album=84009060/size=large/bgcol=ffffff/linkcol=f171a2/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/full-shock">FULL SHOCK by Femme Tops</a></iframe>
    </div>
    <div class="col">
      <p> Evan Lipson: bass 
        <br>Alex Hampshire: voice, keys, sax 
        <br>Rick Weaver: tom & hi-hat, brass, keys, voice, tapes
        <br>recorded by Nick Skrobisz 
      </p>
      <p>The soundtrack to the movie SHOCK by Kipp Whittaker starring Rick Weaver based on the short story SHOCK by Alex Hampshire.</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}