{% extends '_layouts/base.njk' %}

{% block page_title %}The New Flesh feat. Mr. Ski Mask{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 638px;" src="https://bandcamp.com/EmbeddedPlayer/album=2570183347/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/hall-of-heads">Hall of Heads by New Flesh &amp; Mr. Ski Mask</a></iframe>
    </div>
    <div class="col">
      <p>Bass, Vocals – Jason Donnells 
          <br>Guitar, Vocals – Dan Propert 
          <br>Drums – Rick Weaver 
          <br>Producer, Vocals, Other [Oscillators, Prophet] – Mr. Ski Mask. <br>Released November 2008</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}