{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=1238492690/size=large/bgcol=ffffff/linkcol=2ebd35/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/electric-hokum">Electric Hokum by Rick Weaver</a></iframe>
    </div>

  <div class="col">
      Rick Weaver plays Electric Hokum. Original press on Bathetic Records. April 2011
  </div>
{# end container #}
</div>
{% endblock %}