{% extends '_layouts/video.njk' %}

{% block page_title %}Kouns & Weaver "Joe Oliver"{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tDadaOP0UZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>"Joe Oliver"</p>
      <p>by Zack Kouns and Rick Weaver</p>
      <p>from The 1990 Cincinnati Reds</p>
      <p><a href="https://kounsandweaver.bandcamp.com/album/the-1990-cincinnati-reds" target="_blank">kounsandweaver.bandcamp.com/album/the-1990-cincinnati-reds</a></p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}
