{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row"><div class="col">      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/os0x8bsbIcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p></div></div>
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=96100535/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://formalog.bandcamp.com/album/lap-top">Lap Top by Form a Log</a></iframe>
  </div>
    <div class="col">
      <p>recorded march 12(?) 2012 at momo zone, st louis,mo </p>
      <p>rick weaver: tapes 
        <br>noah anthony: tapes 
        <br>ren schofield: tapes</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}