{% extends '_layouts/base.njk' %}

{% block page_title %}Spiritual Recess / Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=2613505901/size=large/bgcol=ffffff/linkcol=de270f/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/rick-weaver-spiritual-recess">Rick Weaver / Spiritual Recess by Rick Weaver / Spiritual Recess split cassette</a></iframe>
    </div>
    <div class="col">
      <img src="assets/img/alexandrick1.jpg" class="img-fluid">
      <img src="assets/img/alexandrick2.jpg" class="img-fluid">
      <img src="assets/img/alexandrick3.jpg" class="img-fluid">
    </div>
  </div>
{# end container #}
</div>
{% endblock %}