{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log / Moth Cock{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=951047806/size=large/bgcol=ffffff/linkcol=2ebd35/transparent=true/" seamless><a href="http://hausumountain.bandcamp.com/album/form-a-log-moth-cock-split-lp">Form A Log / Moth Cock - split LP by Form A Log / Moth Cock</a></iframe>
    </div>
    <div class="col">
      <p>Form A Log is: Noah Anthony, Ren Schofield, & Rick Weaver </p>
      <p>Moth Cock is: Doug Gent & Pat Modugno </p>
          
      <p>Artwork by Sam Nigrosh</p> 
      <p>-Mastered by Patrick Klem</p>
      
      <p><a href="https://theanswerisinthebeat.net/2016/04/08/form-a-logmoth-cock-split-lp-hausu-mountain-2016/" target="_blank">Review, Paul Simpson(The Answer Is in the Beat)</a></p>

      <p><a href="https://www.tinymixtapes.com/chocolate-grinder/premiere-form-log-moth-cock-form-log-moth-cock-lp" target="_blank">Review, BORT (Tiny Mix Tapes)</a></p>

    </div>
  </div>

{# end container #}
</div>


{% endblock %}