{% extends '_layouts/base.njk' %}

{% block page_title %}Form a Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 770px;" src="https://bandcamp.com/EmbeddedPlayer/album=255528814/size=large/bgcol=ffffff/linkcol=f171a2/transparent=true/" seamless><a href="http://formalog.bandcamp.com/album/magic-touch">Magic Touch by Form a Log</a></iframe>
    </div>

  <div class="col">
      <p>Form A Log - Magic Touch. Recorded May 2010 at Magic Touch, Philadelphia by Jonny Wray. Ren Schofield, Noah Anthony, Rick Weaver on tapes and bindi belly. Features Wig Whiff, Legal Eagle, Panic Situation, The Last Sip is Insane, Electric Face Dance, Super Dooley, Blind Factory and Pork Support.</p>
  </div>
</div>
{# end container #}
</div>
{% endblock %}