{% extends '_layouts/base.njk' %}

{% block page_title %}Kouns & Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 572px;" src="https://bandcamp.com/EmbeddedPlayer/album=2981918950/size=large/bgcol=ffffff/linkcol=7137dc/transparent=true/" seamless><a href="http://kounsandweaver.bandcamp.com/album/in-search-of-mouthwisdom">In Search of Mouthwisdom by Kouns &amp; Weaver</a></iframe>
    </div>
    <div class="col">
      <p>Originally a sound installation, "In Search of Mouthwisdom" played in a Kansas City bathroom in which attendees were locked in and forced to listen to the track in its entirety. </p>
      <p>The path toward Mouthwisdom began in May 2013 as "Millions of Mouthtalk (The TASTE Chronicles)," a perpetual and discursive dialogue between Kouns & Weaver printed monthly in the web publication ...And Some of His Sons Were Horses. </p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}