{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=1973253406/size=large/bgcol=333333/linkcol=4ec5ec/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/mule-on-tape">Mule on Tape by Rick Weaver</a></iframe>
    </div>

  <div class="col">
      Rick Weaver plays Mule on Tape. Originally released by I Just Live Here. June 2011
  </div>
{# end container #}
</div>
{% endblock %}
