{% extends '_layouts/base.njk' %}

{% block page_title %}Global Distance{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 605px;" src="https://bandcamp.com/EmbeddedPlayer/album=2756587168/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/the-death-of-nature-boy">The Death of Nature Boy by Global Distance</a></iframe>
    </div>
    <div class="col">
      <p> Rick and Rick present their latest Realm Play "The Death of Nature Boy"</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}




