{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver - Nighthawk{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 350px; height: 555px;" src="https://bandcamp.com/EmbeddedPlayer/album=2724311198/size=large/bgcol=333333/linkcol=9a64ff/transparent=true/" seamless><a href="https://rickweaver.bandcamp.com/album/nighthawk">Nighthawk by Rick Weaver</a></iframe>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}