{% extends '_layouts/video.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/45045724?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <p>music video for<br />
      Normal Love&#039;s<br />
      &quot;I Heard You Could See Baltimore from There&quot;<br />
      from the album &#039;Survival Tricks&#039; (Public Eyesore/ugEXPLODE)<br />
      <br />
      video by <br />
      Rick Weaver<br />
      with <br />
      Lara Dempsey<br />
      Chad Eivins<br />
      Tiffany Minx<br />
      Ben Stegman<br />
      &amp; Mel Trad<br />
      <br />
      music/lyrics: Evan Lipson (based on a poem by Alex Hampshire)<br />
      recorded by: Marc Alan Goodman<br />
      mixed by: Jeff Zeigler<br />
      <br />
      </p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}