{% extends '_layouts/video.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/116926259?byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <p>&quot;KO&#039;s Obit&quot;<br />
      Adam Keith as Cups<br />
      Rick Weaver as KO<br />
      Bridget Venuti &amp; Brandon Walsh as Doc<br />
      Buoy Room Stock by Megan Hollenbeck<br />
      Sound &amp; Edit by Rick Weaver<br />
      <br />
      Thanks to Jeff Zagers<br />
      For Alex Tominsky<br />
      <br />
      &quot;KO&#039;s Obit&quot; audio track on Rick Weaver / Spiritual Recess split cassette</p>
</div>
{# end container #}
</div>
{% endblock %}