{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="text">
      "Selected" Discography Due to Mismanagement of Archives
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text">
        <a href="music.html">ALBUMS</a>
      </div>
    </div>
    <div class="col">
      <div class="text">
        <a href="other.html"><strong>OTHER</strong></a>
      </div>
    </div>
  </div>

  
 
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://haord.bandcamp.com/album/haord-2" target="_blank">
      <img src="assets/img/haord2comp.jpg" class="img-fluid">
        <div class="overlay">
          <div class="text">Haord 2<cite>v/a</cite> [Haord Records]
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="defbat.html">
      <img src="assets/img/defbat.jpg" class="img-fluid">
        <div class="overlay">
          <div class="text">Periodic Scarf Volume II<cite>v/a</cite> [Defective Bat Records]
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://hausumountain.bandcamp.com/album/hausmo-mixtape-i" target="_blank">
      <img src="assets/img/hausmo.jpg" class="img-fluid" alt="Hausu Mountain mixtape HausMo Mixtape I featuring D/A/D, FIN, Quicksails, World War, TALsounds, Lockbox, Rick Weaver, Black Hat, BANG! BROS, Do Pas O, Fire-Toolz, Khaki Blazer, Potions, Kill Alters, Form A Log, Eartheater, MrDougDoug, Moth Cock, Brett Naucke, Tiger Village, Andrew Bernstein and Mukqs. Bandcamp embed. April 20 2018">
        <div class="overlay">
          <div class="text">HausMo Mixtape I <cite>v/a</cite>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="logcock.html">
        <img src="assets/img/formalogmothcock.jpg" class="img-fluid">
        <div class="overlay">
          <div class="text">
            Form A Log / Mothcock split LP 
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="living.html">
        <img src="assets/img/santa.jpg" class="img-fluid" alt="Spiritual Recess Rick Weaver December 2014">
          <div class="overlay">
            <div class="text">
              Spiritual Recess / Rick Weaver split
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://zackkouns.bandcamp.com/album/springsteen-for-weirdos" target="_blank">
        <img src="assets/img/covermebruce.jpg" class="img-fluid" alt="rick weaver bruce springsteen cover album">
          <div class="overlay">
            <div class="text">Cover Me: Springsteen for Weirdos       <cite>v/a</cite>
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://soundcloud.com/another-dark-age/ada001-b1-form-a-log-in-the-1" target="_blank">
        <img src="assets/img/anotherdarkage.jpg" class="img-fluid" alt="Form A Log perform In The Streets on Another Dark Age compilation also featuring Phantom Selector, Victim, and Carrier. April 14, 2017">
        <div class="overlay">
          <div class="text">
            Another Dark Age <cite>v/a</cite>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a>
        <img src="assets/img/hand.jpg" class="img-fluid" alt="Rick Weaver Hand Hotel Welcome Kit">
        <div class="overlay">
          <div class="text">
            The Hand Hotel Welcome Kit
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://refulgentsepulchre.tumblr.com/RS005" target="_blank">
        <img src="assets/img/twobenj.png" class="img-fluid" alt="Form A Log Two Benji's Remix cassette on Refulgent Sepulchre">
        <div class="overlay">
          <div class="text">
            The Two Benji's Remix <cite>v/a</cite>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
        <a href="http://www.close-far.com" target="_blank">
        <img src="assets/img/cf019.jpg" class="img-fluid" alt="Rhizomatic St. Louis Vol. I featuring Regicide Bureau, Rich O'Donnel, Raglani, Tory Starbuc Project, N.N.N. Cook, Dr. Mabuse, Dave Stone, Public Shallows, Brain Transplant, Kevin Harris, and Dinner Music (Rick Weaver). Released on Close/Far Recordings. 2012">
        <div class="overlay">
          <div class="text">RHIZOMATIC ST. LOUIS VOL. I <cite>v/a</cite></div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="cubeweave.html">
        <img src="assets/img/cube rick weaver split.jpg" class="img-fluid" alt="">
        <div class="overlay">
          <div class="text">
            Cube / Rick Weaver split cs
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="http://blowinguptheworkshop.com/project/formalog" target="_blank">
        <img src="assets/img/9.jpg" class="img-fluid" alt="Form A Log live at Pageant: Soloveev. Digitally released by Blowing up the Workshop. March 21, 2012">
        <div class="overlay">
          <div class="text">
            Form a Log live in Philly
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
        <a href="https://www.discogs.com/Various-Christmas-Tape-2011/release/3398681" target="_blank">
        <img src="assets/img/christmastape2011.jpg" class="img-fluid" alt="Alley Vision (Ren Schofield, Rick Weaver) play Top Hat on Christmas Tape 2011 compilation released by Tusco Embassy">
        <div class="overlay">
          <div class="text">ALLEY VISION "TOP HAT"</div>
        </div>
      </a>
    </div> 
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a>
        <img src="assets/img/tapeb.png" class="img-fluid">
        <div class="overlay">
          <div class="text">
            Rick Weaver - Tape Breath for Baby Sister
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://spleencoffin.com/portfolio/230/" target="_blank">
        <img src="assets/img/digitalduck.jpg" class="img-fluid" alt="Form a Log perform Digital Duck released by Spleencoffin 2010">
        <div class="overlay">
          <div class="text">FORM A LOG <cite>DIGITAL DUCK</cite></div>
        </div>
      </a>
    </div> 
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a>
      <img src="assets/img/tapes.png" class="img-fluid" alt="form a log morally gray plays tapes">
        <div class="overlay">
          <div class="text">
            Form a Log & Morally Grey Plays Tapes
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://www.discogs.com/MLU-The-New-Flesh-Chosen-Gem-Safe-Skin/master/799804" target="_blank">
      <img src="assets/img/mlu the new flesh.jpg" class="img-fluid" alt="the new flesh mlu split LP">
        <div class="overlay">
          <div class="text">
            MLU / The New Flesh split LP
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a>
      <img src="assets/img/proph.jpg" class="img-fluid" alt="the new flesh mlu split LP">
        <div class="overlay">
          <div class="text">
            Human Host - False Prophet
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://terrafirmarecords.bandcamp.com/album/dog" target="_blank"><img src="assets/img/dog.jpg" class="img-fluid" alt="the new flesh dog b/w memory scrap">
        <div class="overlay">
          <div class="text">
            The New Flesh - "Dog" b/w "Memory Scrap"
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://www.discogs.com/Various-Tiger-Tongue-Pussy-Cactus-Terminal-Fantasies-For-Malefic-Youth/release/976520" target="_blank">
        <img src="assets/img/tiger.jpg" class="img-fluid" alt="the new flesh air conditioning coughs vegas martyrs hospital productions">
          <div class="overlay">
            <div class="text">
              Tiger Tongue Pussy Cactus <cite>v/a</cite>
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a><img src="assets/img/inhuman.jpg" class="img-fluid" alt="the new flesh robert inhuman punch drunk in the head in this shit world 7">
        <div class="overlay">
          <div class="text">
            The New Flesh & Robert Inhuman
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="https://www.discogs.com/The-New-Flesh-Pukeattack-Love-Cums-First/master/1569088" target="_blank">
        <img src="assets/img/pukeattack.jpg" class="img-fluid" alt="puke attack pukeattack the new flesh love cums 1st split LP">
          <div class="overlay">
            <div class="text">
              The New Flesh / Pukeattack "Love Cums 1st" Split LP
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
        <a><img src="assets/img/clancy.jpg" class="img-fluid" alt="the new flesh clancy 6 split 7">
          <div class="overlay">
            <div class="text">
              The New Flesh / Clancy Six split 7"
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
        <a href="https://www.discogs.com/The-New-Flesh-Byron-House-Age-Until-You-Evolve/release/1271721" target="_blank">
          <img src="assets/img/byron.png" class="img-fluid" alt="byron house the new flesh cephia's treat split cassingle">
            <div class="overlay">
              <div class="text">
                The New Flesh / Byron House "Age Until You Evolve" split cassingle
              </div>
            </div>
          </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
        <a><img src="assets/img/filth.jpg" class="img-fluid" alt="the new flesh filth and degradation volume 1">
          <div class="overlay">
            <div class="text">
              The New Flesh - Filth & Degradation vol. I
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
        <a><img src="assets/img/nowhere.jpg" class="img-fluid" alt="the new flesh nowhere 7">
          <div class="overlay">
            <div class="text">
              The New Flesh "Nowhere" 7"
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
        <a><img src="assets/img/newton.jpg" class="img-fluid" alt="the new flesh filth and newton n squared volume 5 on Breathmint Records">
          <div class="overlay">
            <div class="text">
              The New Flesh & Newton - N Squared Volume #4
            </div>
          </div>
        </a>
      </div>

  </div>
{# end container #}
</div>
  
{% endblock %}