{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 704px;" src="https://bandcamp.com/EmbeddedPlayer/album=3594423326/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/sing-a-pleasant-song">Sing A Pleasant Song by Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p>released 2008</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}