{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=2423601294/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/the-weight-of-all-filth">The Weight of All Filth by Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p>Ruined Frame Quartet

          <br>Rick Weaver - Guitar, Vocal, Organ
          <br>Nick Podgurski - Drums 
          <br>Tracy Conway - Guitar, Saxophone 
          <br>Kevin Bernsten - Engineer, Bass. Released May 2008</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}