{% extends '_layouts/base.njk' %}

{% block page_title %}Global Distance{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 520px;" src="https://bandcamp.com/EmbeddedPlayer/album=1683802960/size=large/bgcol=ffffff/linkcol=de270f/tracklist=false/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/raw-personal-material">Raw Personal Material by Global Distance</a></iframe>
    </div>

  <div class="col">
     <p>Global Distance 
        Raw Personal Material 
        c40 
        ltd edition of 32 copies 
        </p>
        <p>"Global Distance is Wiggpaw of the Skarekrau Radio / Kuu Mythology and myself. Wiggpaw's been coming over to the Surveillance Center every few days with various tricks up his sleeve. Modified tone, rubber biscuit, gut samples, bullfrogs, apes, guitars, drums, keys, nature, etc. The tape is a post-conception arrangement of captured sounds, mainly allowed to remain nude horizontally, but occasionally stitched together and stacked under the leaking roof. Tricks with time, treated sources, byproducts, necessary shielding. Features movie themes to Cock Film, Gravois Graveyard, &amp; Man in Dirt: Cock Film #2, and more. the mythology of surveillance." </p>
        <p>"Before cultures were dehumanized and rendered totally artificial, cultural trends used to emerge from the people. Today, raw personal material is usually categorized as interference or noise... Junk-culture markets dictate acceptable levels of raw personal material, whereas regulatory bodies set the limits in other, more stable sectors." -Tom Sherman</p>
        <p>released June 6, 2011 </p>
        <p>Electronics, Keyboards, Vocals – Wiggpaw <br>Drums, Electronics, Vocals – Rick Weaver</p>
  </div>
{# end container #}
</div>
{% endblock %}