{% extends '_layouts/base.njk' %}

{% block page_title %}Zack Kouns & Rick Weaver - The 1990 Cincinnati Reds{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3388249055/size=large/bgcol=333333/linkcol=fe7eaf/transparent=true/" seamless><a href="https://kounsandweaver.bandcamp.com/album/the-1990-cincinnati-reds">The 1990 Cincinnati Reds by Kouns &amp; Weaver</a></iframe>
    </div>

  <div class="col">
      "These boys of the endless, infernal summer have taught me a lot about the 1990 Cincinnati Reds and America's favorite pastime. I learned that 'Billy Hatcher' has always mistaken Mercury for the Carvaggio painting where Judas betrays Jesus. That 'Mariano Duncan' was once a young Colombian girl with six arms to crush the wild and the wicked and the pure-hearted alike. That the real 'Lou Piniella' is a baby black snake ensnared in the talons of a Cooper's hawk, and while he was being fed to the hawk's hatchlings, he was filming a car dealership commercial with Ozzie Guillén. That 'Chris Sabo' drove a brown 1988 Ford Escort." 
      -Mr. Frank Capra 
      <p>Text by Zack Kouns</p> 
      <p>Music by Rick Weaver</p>
      <p>Art by Chrissy Jones</p>
      <p>Mastered by Angel Marcloid A/V</p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/tDadaOP0UZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    </div>
{# end container #}
</div>
{% endblock %}