{% extends '_layouts/video.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/77557740?byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>"Originally released in 2009 as a limited edition cassette on Human Conduct, Renewal is a unique entry in the late Social Junk discography, a rare visionary work long due for a proper LP release.</p>
      <p>"These dark, instrumental recordings were envisioned as the soundtrack for a short film that never was completed, but every moment of their minimal brilliance transcends this purpose. Renewal is a flawless work in the tradition of the great experimental post-industrial soundtracks of the 1980s, such as SPK’s Zamia Lehmanni and Cabaret Voltaire’s Johnny Yesno.</p>
      <p>"Leading up to this reissue, video artist Rick Weaver, along with collaborator Lara Dempsey, took up the task of creating a new video as a visual companion to the orphaned soundtrack. A brilliant work in its own right, the full video has been made available here courtesy of the artists."</p>
      <p><a href="https://spleencoffin.com/portfolio/renewal/" target="_blank">spleencoffin.com/portfolio/renewal/</a></p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}