{% extends '_layouts/video.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5qMA0aobvqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>No matter how much you prepare, once you're up on stage, the performance might go in a different direction than you thought it would. Sometimes that's good, sometimes that's bad. When it's bad, do you ever get that feeling you could've done better? Do you have trouble forgiving yourself? Do you have trouble focusing on anything other than your mistakes? Do you feel trapped by your thoughts? Consumed by regret? Dizzy from anxiety? Do you ever wish you had a chance to get it right?</p>

        <p>Rick Weaver does. In a new online video series, Rick Weaver tries his hand again at the set he meant to play.</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}