{% extends '_layouts/base.njk' %}

{% block page_title %}Early Juniata{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe style="border: 0; width: 400px; height: 572px;" src="https://bandcamp.com/EmbeddedPlayer/album=1182646800/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/shock-2">SHOCK by Shock Tops</a></iframe>
    </div>
    <div class="col">
      <p> SHOCK story by Alex Hampshire; read by Alex Hampshire with Rick Weaver </p>
      <p>BATTER'S BOX performed live by Alex Hampshire and Rick Weaver</p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}