{% extends '_layouts/base.njk' %}

{% block page_title %}Kouns & Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=1262402009/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://kounsandweaver.bandcamp.com/album/the-transmogrification-of-mr-claus">The Transmogrification of Mr. Claus by Kouns and Weaver</a></iframe>
    </div>
    <div class="col">
      <p>This album, film, libretto, and audiobook that you're holding in your hand is an exploration of the last days of Santa Claus as we know him, charting his bumbling and heroic exploits as he simultaneously contracts and nearly spreads the plague along his expansive, gift-giving route AND single-handedly rids us of that particular strain of virus once and for all by virtue of his thudding, aged, tender, immutable heart.</p> 

      <p>Along the way, he grows a few arms, rips Chevy Chase a new one, explains why the polar ice caps are melting, has his blood slurped up by an arctic fox, dances to calypso music while blackout drunk, gets his cabin destroyed by riderless stallions, and that's just for starters...a little milk and cookie appetizer if you will.</p>
        
        <p>Along the way you'll be entranced by a rich ensemble of familiar characters including Mrs. Claus, Rudolph, the elves, Peanut the dog, Martin Short, a deranged murderer on the loose in Cleveland, OH, wormwood and mugwort, Harry of Harry's Bar notoriety, shitting mice, Lord Invader, Lee Hazlewood, tenement housing in 1940s Detroit, the San Antonio River, the fox in the hen house, and an anthropomorphic Sun that nearly slaughters every human being on Planet Earth, and many more!</p>
        
        <p>Joining this array of some of the biggest names in the business are Zack Kouns, who wrote the script and serves as the narrator, and Rick Weaver, who composed the score, both of whom figure prominently in this wholesome little psychodrama / feel-good family comedy for the whole family, provided that everybody in your family is over the age of 18.</p>
        
        <p>Thank you for inviting us into your hearts and home as we answer that timeless question</p>
        
        <p>"Is zat you, Santa Claus?"</p> 
        
        <p>The answer is</p> 
        
        <p>"You betcha, pal. And I'm here to save your butt and also endanger the survival of your species but most importantly I will save your lives so let's forget aaaallll about that other part."</p> 
        
        <p>All of us at Team Capra Productions would like to wish you a Merry Christmas and Happy Holidays and offer you a reminder that no man is a failure who has friends.</p> 
    </div>
  </div>

{# end container #}
</div>

{% endblock %}