{% extends '_layouts/video.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe src="https://player.vimeo.com/video/415826756" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <p><a href="https://vimeo.com/415826756">Raiding the Vampire</a> from <a href="https://vimeo.com/user12053191">Rick Weaver</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>music video feat. Nicki and Rick for
      <p>Rick Weaver "Raiding the Vampire"
      <p>from The Secular Arm (Hausu Mountain, 2017)
    </div>
  </div>
{# end container #}
</div>
{% endblock %}