{% extends '_layouts/video.njk' %}

{% block page_title %}RICK WEAVER{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="text">
      "Selected" Videography Due to Mismanagement of Archives
      </div>
    </div>
  </div>
</div>
<article class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
          <a href="coconut.html">
          <img src="assets/img/cocothumb.png" class="img-fluid">
            <div class="overlay">
              <div class="text">
              Rick Weaver "Coconut"
              </div>
            </div>
          </a>
        </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="joeoliver.html">
      <img src="assets/img/baseballblend.png" class="img-fluid">
        <div class="overlay">
          <div class="text">
          Kouns & Weaver "Joe Oliver"
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="zoneg.html">
      <img src="assets/img/ZoneGThumbnail copy.png" class="img-fluid">
      <div class="overlay">
        <div class="text">
        Zone G: The Global Distance Movie
        </div>
      </div>
    </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="vamp.html">
      <img src="assets/img/vamp.png" class="img-fluid">
      <div class="overlay">
        <div class="text">
        Raiding the Vampire
        </div>
      </div>
    </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="set.html">
        <img src="assets/img/set.png" class="img-fluid">
        <div class="overlay">
          <div class="text">
          The Set I Meant to Play
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="ricktalk.html">
        <img src="assets/img/ricktalksquare.png" class="img-fluid">
        <div class="overlay">
          <div class="text">
          rickTalk
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="whodidit.html">
        <img src="assets/img/whodidit.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Meinschaft - Who Did It? 
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="bones.html">
        <img src="assets/img/chickenboneslook.jpg" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Chicken Bones 
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="prop.html">
        <img src="assets/img/prop.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            "IM-PROP-TU"
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="ko.html">
        <img src="assets/img/komask.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            KO's Mask
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="mortalwound.html">
        <img src="assets/img/mortalwound.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Mortal Wound
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="obit.html">
        <img src="assets/img/theperfectman.jpg" class="img-fluid">
          <div class="overlay">
            <div class="text">
            KO's Obit
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="palmer.html">
        <img src="assets/img/dennispalmer.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Tribute to Dennis Palmer
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="joy.html">
        <img src="assets/img/joy.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
             Profligate - "Girl Full of Joy"
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="zagers.html">
        <img src="assets/img/zagers.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Jeff Zagers - "Key Conduction"
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="bmvideo.html">
        <img src="assets/img/blackmedicine.jpg" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Black Medicine pt. I
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="untitled.html">
        <img src="assets/img/untitled.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Untitled
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="priest.html">
        <img src="assets/img/whitesuns.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            White Suns - "Priest in the Laboratory"
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="bqvid.html">
        <img src="assets/img/BQPsych.jpg" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Blood Quantum
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="tux.html">
        <img src="assets/img/toledotux.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Toledo Tuxedo
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="normallove.html">
        <img src="assets/img/normallove.png" class="img-fluid">
          <div class="overlay">
            <div class="text">
            Normal Love - "I Heard You Could See Baltimore From There"
            </div>
          </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4">
      <a href="renewal.html">
      <img src="assets/img/renewal_frontflatp.jpg" class="img-fluid">
        <div class="overlay">
          <div class="text">
          Renewal
          </div>
        </div>
      </a>
    </div>
{# end row #}
  </div>

{# end container #}
</div>
</article>
{% endblock %}