{% extends '_layouts/video.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nrrdi03Ox30" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>starring
        <br>Nicki as the Singer
        <br>Steve as the Pitcher
        <br>Rick as the Clown
        <br>music video directed by Rick
      </p>
      <p>Artist: Meinschaft
        <br>Album: To The Victim Belong The Spoils
        <br>Released: 2017
        <br>Genre: Nu World</p>

    </div>
  </div>
{# end container #}
</div>
{% endblock %}