{% extends '_layouts/video.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_DHAHMxG-g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Zone G</p>
    </div>
  </div>
  <div class="row">
      <div class="col">   
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0schhT7WV_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <p>Zone G Audio Commentary</p> 
    </div>
    </div>

{# end container #}
</div>
{% endblock %}