<nav class="navbar">
  <a class="navbar-brand" href="index.html"><img src="assets/img/ricktalksquare.png" width="100px" id="memo"/></a>
  <a class="navbar-brand" href="music.html">
  <img src="assets/img/BlueIcon.jpg" width="100px" id="navlogo rick weaver dinner music form a log new flesh san antonio"/></a>
  <a class="navbar-brand" href="text.html">
  <img src="assets/img/Santa.jpg" width="100px" id="navlogo rick weaver music writing review journalism text poetry prose essay interview"/></a> 
  <a class="navbar-brand" href="video.html"><img src="assets/img/videoicon.png" width="100px" id="music video"/></a>
  <a class="navbar-brand" href="https://rickweaver.bigcartel.com" target="_blank">
  <img src="assets/img/bigcartelthumb.jpg" width="100px" id="big cartel rick weaver shop"/></a>
  <a class="navbar-brand" href="https://cargocollective.com/HSRANCH" target="_blank">
  <img src="assets/img/ranchradio2.png" width="100px" id="nicki and rick ranch radio H&S H and S podcast san antonio texas"/></a>
  <a class="navbar-brand" href="https://anchor.fm/grackle-chatter" target="_blank">
  <img src="assets/img/GrackleChatterThumb.jpg" width="100px" id="grackle chatter kouns and weaver podcast radio show"/></a>
</nav>

