.container {
  position: relative;
  width: 100%;
}

.row {
  padding-left: 6.55586%;
  padding-right: 6.55586%;
  padding-top: 40px;
  padding-bottom: 0px;
  position: static;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

// .card-img-top {
// display: block;
// max-width: 100%;
// height: auto;
// }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .1s ease;
}

#cardbase {
  background-color: deepskyblue;
}

#cardfantasy { 
  background-color: #FDFF00;
}

#cardtext { 
  background-color:rgb(240, 0, 0);
}

a:hover .overlay {
  width: 100%;
  cursor: pointer;
}

.overlay-responsive {
  bottom: -100;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .1s ease;
}

.text {
  color: rgb(0, 255, 42);
  font-size: 20px;
  font-family: 'kabel', 'times new roman';
  text-align: justify;
  position: absolute;
  top: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-rendering: optimizelegibility;
}

#base { 
  background-color: rgb(234, 250, 255);
  height: 50%; 
  background-position: center;
}

#fantasy { 
  background-color: rgb(252, 252, 238);
  height: 50%; 
  background-position: center;
}

#text { 
  background-color:rgb(255, 245, 245);
  height: 50%; 
  background-position: center;
}

#video { 
  background-color:rgb(238, 214, 250);
  height: 50%; 
  background-position: center;
}

h3 {
  padding-bottom: -200px;
}

.card {
  background-color: deepskyblue;
  width: 98%;
  height: auto;
  display: initial;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.intro, .media, .legal {
  border-color:#F5F5F5;
}

.media img {
  width: 50%;
  height: auto;
}

#tangerine {
  font-family: 'Tangerine', cursive;
}
#cinzel {
  font-family: 'Cinzel', serif;
}
